<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="d-flex align-items-center">
    <a class="navbar-brand" href="#">Rabbit Times</a>
      <%= link_to 'Home', "/blogs", class: "btn btn-outline-dark" %>
      <%= link_to 'Post', "/posts", class: "btn btn-outline-dark" %>
      <%= link_to 'Chat', "/messages", class: "btn btn-outline-dark" %>
  </div>
</nav>
