<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="d-flex align-items-center">
    <a class="navbar-brand" href="#">Rabbit Times</a>
      <%= link_to 'Home', blogs_path, class: "btn btn-outline-dark" %>
      <%= link_to 'Post', posts_path, class: "btn btn-outline-dark" %>
      <%= link_to 'Chat', messages_path, class: "btn btn-outline-dark" %>
  </div>
</nav>